:root {
  --black: #0d0d0d;
  --red: lightblue;
}

.container {
  background-color: steelblue;
  padding: 5rem;
}

.game {
  display: flex;
  flex-direction: row;
}

.scoreboard {
  width: 58%;
  margin: 10rem auto;
  background-color: black;
  color: green;
  border-radius: 02rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 5rem;
  border: 8px solid green;
}

.topRow {
  display: flex;
  justify-content: space-around;
  place-items: center;
  /* height: 20rem; */
}

.home,
.away {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
  border: 3px solid white;
  border-radius: 0.5rem;
  width: 21rem;
}

.home {
  background-color: whitesmoke;
}

img {
  width: 375px;
  height: 300px;
}

.away {
  background-color: whitesmoke;
}

.home__name,
.away__name,
.down__title,
.toGo__title,
.ballOn__title,
.quarter__title {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 2rem;
}

.home__score,
.away__score {
  font-family: "Ozone";
  font-size: 3rem;
  width: 90%;
  text-align: center;
  background-color: var(--black);
  color: var(--red);
  padding: 5%;
}

.timer {
  font-family: "Ozone";
  font-size: 4rem;
  padding: 2rem;
  text-align: center;
  background-color: var(--black);
  border: 2px solid white;
  border-radius: 6px;
}

.bottomRowHome {
  display: flex;
  justify-content: space-around;
  place-items: center;
  height: 15rem;
}

.bottomRowAway {
  display: flex;
  justify-content: space-around;
  place-items: center;
  height: 15rem;
}

.down,
.toGo,
.ballOn,
.quarter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
}

.down__value,
.toGo__value,
.ballOn__value,
.quarter__value {
  font-family: "Ozone";
  font-size: 5rem;
  color: var(--red);
  width: 7rem;
  text-align: center;
  background-color: var(--black);
  margin-top: 1rem;
  border-radius: 4px;
  padding: 1.6rem;
  border: 1px solid white;
}

.buttons {
  width: 400px;
  margin: 30rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  border: 1px solid grey;
}

.homeButtons__touchdown,
.homeButtons__fieldGoal,
.awayButtons__touchdown,
.awayButtons__fieldGoal {
  margin: 1rem;
  width: 20rem;
  border-radius: 4px;
}
